<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>DBProject</display-name>
  <servlet>
    <servlet-name>employeelogin</servlet-name>
    <servlet-class>hospital.employeelogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeelogin</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>landingpage</display-name>
    <servlet-name>landingpage</servlet-name>
    <servlet-class>hospital.landingpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>landingpage</servlet-name>
    <url-pattern>/landingpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewrecord</display-name>
    <servlet-name>viewrecord</servlet-name>
    <servlet-class>hospital.viewrecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewrecord</servlet-name>
    <url-pattern>/viewrecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>hospital.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>patientlogin</description>
    <display-name>patientlogin</display-name>
    <servlet-name>patientlogin</servlet-name>
    <servlet-class>hospital.patientlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientlogin</servlet-name>
    <url-pattern>/patientlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>patientlandingpage</display-name>
    <servlet-name>patientlandingpage</servlet-name>
    <servlet-class>hospital.patientlandingpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientlandingpage</servlet-name>
    <url-pattern>/patientlandingpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertemployee</display-name>
    <servlet-name>insertemployee</servlet-name>
    <servlet-class>hospital.insertemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertemployee</servlet-name>
    <url-pattern>/insertemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertpatient</display-name>
    <servlet-name>insertpatient</servlet-name>
    <servlet-class>hospital.insertpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertpatient</servlet-name>
    <url-pattern>/insertpatient</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>checkdata</display-name>
    <servlet-name>checkdata</servlet-name>
    <servlet-class>hospital.checkdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkdata</servlet-name>
    <url-pattern>/checkdata</url-pattern>
  </servlet-mapping>
</web-app>